.card-item {
  width: 240px;
  background: white;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s ease;
}

.card-item:hover {
  transform: scale(1.06);
}

.card-item img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}

.card-item h4 {
  margin: 10px 0 5px;
}

.price {
  font-weight: bold;
}
