.login-container {
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 330px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.login-box input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
}
